
{% extends 'mrp/blank-page.html' %}
{% block stylesheet %}
<style>
  /* Custom class to set the height to 7 times the normal height */
  .custom-height {
    height: 20.2em; /* Adjust this value based on your requirements */
  }
  .custom-height2 {
    height: 6.7em; /* Adjust this value based on your requirements */
  }
</style>
{% endblock %}
{% block content %}
<div class="row app-block">

                <div class="col-md-12 app-content">
                    <div></div>
                    <div class="app-action">
                        <div class="action-left">


                        </div>
                        <div class="action-right">
                            <form class="d-flex mr-3">
                                <a href="#" class="app-sidebar-menu-button btn btn-outline-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu width-15 height-15"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                                </a>
                                <div class="input-group">
                                  <h3>{{today}}</h3>
                                </div>
                            </form>
                            <div class="app-pager d-flex align-items-center">
                                <div class="mr-3"></div>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="/Tolid/DailyDetails?event_id={{prev_date}}" aria-label="Previous">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left width-15 height-15"><polyline points="15 18 9 12 15 6"></polyline></svg>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="/Tolid/DailyDetails?event_id={{next_date}}" aria-label="Next">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right width-15 height-15"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body app-content-body">

                        <div class="card-body">
                          <h5 class="card-title">آمار روزانه</h5>
                          <div class="row">
                            <!-- Column 1 -->
                            {% for i in shifts %}

                              {% if forloop.counter == 1 %}
                            <div class="col-md-4">

                              <h3>{{i.name}}</h3>
                              <div class="table-responsive">
                                <table class="table table-bordered table-striped company-table" id="tbl1">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th>نام ماشین</th>
                                      <th>نمره</th>
                                      <th> کنتور</th>
                                      <th>تولید</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for c in machines %}
                                    {% if c.shift.id == i.id %}
                                    <tr data-machine={{c.machine.id}} data-shift="{{i.id}}" data-speed="{{c.speed}}" data-id={{c.amar.id}}>
                                      <td>{{c.machine.assetName}}</td>
                                      <td  class="editable-cell btc nomre selectable1">{{c.amar.nomre}}</td>
                                      <td  class="editable-cell btc counter selectable1">{{c.amar.counter}}</td>

                                      <td  data-formula="{{c.formula}}" class='production'>{{c.amar.production_value}}</td>

                                    </tr>

                                    {% endif %}
                                    {% endfor %}
                                    {% for c in heatsets %}
                                      {% if c.shift.id == i.id %}
                                      {% if c.machine.id == 22 %}
                                      {% include 'mrp/tolid/partialheatsettrornek.html' %}
                                      {% else %}

                                    {% include 'mrp/tolid/partialheatsettr.html' %}
                                    {% endif %}
                                      {% endif %}
                                    {% endfor %}



                                  </tbody>
                                </table>
                              </div>
                            </div>
                            {% else %}
                            <div class="col-md-3">

                              <h3>{{i.name}}</h3>
                              <div class="table-responsive">
                                <table class="table table-bordered table-striped company-table" id="tbl{{forloop.counter}}">
                                  <thead class="thead-dark">
                                    <tr>

                                      <th>شماره کنتور</th>
                                      <th>تولید</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for c in machines %}
                                      {% if c.shift.id == i.id %}


                                    <tr data-machine={{c.machine.id}} data-shift="{{i.id}}" data-speed="{{c.amar.speed}}" data-id={{c.amar.id}}>

                                      <td  class="editable-cell btc counter selectable1" data-nomre={{c.amar.nomre}}>{{c.amar.counter}}</td>

                                      <td  data-formula="{{c.formula}}" class='production'>{{c.amar.production_value}}</td>

                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% for c in heatsets %}
                                      {% if c.shift.id == i.id %}
                                      {% if c.machine.id == 22 %}
                                      {% include 'mrp/tolid/partialheatsettrornek2.html' %}
                                      {% else %}

                                    {% include 'mrp/tolid/partialheatsettr2.html' %}
                                    {% endif %}

                                    
                                      {% endif %}
                                    {% endfor %}

                                    <!-- Add more rows as needed -->


                                  </tbody>
                                </table>
                              </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="col-md-2">

                             <h3 >تولید 100</h3>

                              <div class="table-responsive">
                                <table class="table table-bordered table-striped company-table" >
                                  <thead class="thead-dark">

                                    <tr>

                                      <th>سرعت</th>
                                      <th>تولید 100%</th>


                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for c in machines %}
                                    <tr data-id={{c.amar.id}} >

                                      {% if c.shift.id == 1 %}

                                      <td  class="editable-cell editable-cell2 speed selectable1" data-nomre={{c.amar.nomre}}>{{c.amar.speed}}</td>
                                      <td  class="editable-cell3 production selectable1" data-formula="{{c.amar.speedformula}}">{{c.amar.eval_max_tolid|floatformat:"2"}}</td>
                                      {% endif %}


                                    </tr>
                                    {% endfor %}
                                    {% for c in heatsets %}
                                    {% if c.machine.id == 22 %}
                                    <tr class="custom-height2">
                                      {% else %}
                                    <tr class="custom-height">
                                      {% endif %}
                                      {% if c.shift.id == 1 %}

                                      <td   class="editable-cell editable-cell2 speed selectable1" data-nomre={{c.amar.nomre}}>{{c.amar.speed}}</td>
                                      <td   class="editable-cell3 production selectable1" data-formula="{{c.amar.speedformula}}">{{c.amar.eval_max_tolid|floatformat:"2"}}</td>
                                      {% endif %}


                                    </tr>
                                    {% endfor %}
                                    <!-- Add more rows as needed -->
                                  </tbody>
                                </table>
                              </div>
                            </div>



                          </div>

                        </div>
                      </div>
                        <!-- end::app-lists -->

                        <!-- begin:app-detail -->


            </div>


          </div>


{% endblock %}
{% load static %}

{% block javascript %}


 <script src="{% static 'project/tolid.js' %}"></script>
{% endblock %}
