<div class="form-row">
     <div class="form-group col-md-3">
       {{ form.metrajdaf1.label_tag }}
       {{ form.metrajdaf1 }}
     </div>
     <div class="form-group col-md-3">
       {{ form.metrajdaf2.label_tag }}
       {{ form.metrajdaf2 }}
     </div>
     <div class="form-group col-md-3">
       {{ form.metrajdaf3.label_tag }}
       {{ form.metrajdaf3 }}
     </div>
     <div class="form-group col-md-3">
       {{ form.metrajdaf4.label_tag }}
       {{ form.metrajdaf4 }}
     </div>
   </div>
   <div class="form-row">
     <div class="form-group col-md-3">
       {{ form.metrajdaf5.label_tag }}
       {{ form.metrajdaf5 }}
     </div>
     <div class="form-group col-md-3">
       {{ form.metrajdaf6.label_tag }}
       {{ form.metrajdaf6 }}
     </div>
     <div class="form-group col-md-3">
       {{ form.metrajdaf7.label_tag }}
       {{ form.metrajdaf7 }}
     </div>
     <div class="form-group col-md-3">
       {{ form.metrajdaf8.label_tag }}
       {{ form.metrajdaf8 }}
     </div>
     <div class="form-group col-md-3">
       {{ form.makhraj_metraj_daf.label_tag }}
       {{ form.makhraj_metraj_daf }}
     </div>
   </div>
