<form method="post" action="{% url 'profile_delete' profile.id %}" class="js-profile-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">تایید حدف پروفایل</h4>
  </div>
  <div class="modal-body">
    <p class="lead">تایید می کنید؟ <strong>{{ profile.description }}</strong>?
    
    </p>
    <p>در صورت تایید حدف اطلاعات مرتبط با این پروفایل مالی نیز حدف می گردند!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
    <button type="submit" class="btn btn-danger">تایید حدف</button>
  </div>
</form>