{% extends 'mrp/blank-page.html' %}
{% load static %}

{% block content %}

<div class="row  app-block">
      <div class="col-md-12 app-content">
       
        <div class="app-action">
            <div class="action-left">
                <ul class="list-inline">
                    <li class="list-inline-item mb-0">
                        <div class="input-group">
                            <input type="text" class="form-control pdate" placeholder="تاریخ شروع" aria-describedby="button-addon1" id="startdate" >
                            <div class="input-group-append">
                                <span class="btn btn-outline-light" >
                                    <i class="ti-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item mb-0">
                        <div class="input-group">
                            <input type="text" class="form-control pdate" placeholder="تاریخ پایان" aria-describedby="button-addon2" id="enddate" >
                            <div class="input-group-append">
                                <span class="btn btn-outline-light">
                                    <i class="ti-calendar"></i>
                                </span>
                            </div>
                    </li>
                    <li class="list-inline-item mb-0">
                        <select name="" id="machines" class="form-control">
                            {% for i in assets %}
                            <option value="{{i.asset_id}}" data-type={{i.asset_type}}>{{i.asset_name}}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
            </div>
            <div class="action-right">
                <form class="d-flex mr-3">
                   
                    <div class="input-group">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light" type="button" id="button-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h2 class="font-weight-bold mb-2">3.605</h2>
                                <div>تعداد کلیک</div>
                            </div>
                            <div>
                                <span class="dashboard-pie-1" style="display: none;">2/5</span><svg class="peity" height="60" width="60"><path d="M 30.000000000000004 0 A 30 30 0 0 1 47.633557568774194 54.270509831248425 L 30 30" data-value="2" fill="rgba(21, 101, 192, 0.3)"></path><path d="M 47.633557568774194 54.270509831248425 A 30 30 0 1 1 29.999999999999993 0 L 30 30" data-value="3" fill="rgb(21, 101, 192)"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h2 class="font-weight-bold mb-2">3.137</h2>
                                <div>تعداد نمایش</div>
                            </div>
                            <div>
                                <span class="dashboard-pie-2" style="display: none;">4/5</span><svg class="peity" height="60" width="60"><path d="M 30.000000000000004 0 A 30 30 0 1 1 1.4683045111453907 20.729490168751582 L 30 30" data-value="4" fill="rgba(0, 200, 81, 0.3)"></path><path d="M 1.4683045111453907 20.729490168751582 A 30 30 0 0 1 29.999999999999993 0 L 30 30" data-value="1" fill="rgb(0, 200, 81)"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h2 class="font-weight-bold mb-2">8.765</h2>
                                <div>مجموع گفت‌گوها</div>
                            </div>
                            <div>
                                <span class="dashboard-pie-3" style="display: none;">1/5</span><svg class="peity" height="60" width="60"><path d="M 30.000000000000004 0 A 30 30 0 0 1 58.53169548885461 20.72949016875158 L 30 30" data-value="1" fill="rgba(255, 187, 51, 0.3)"></path><path d="M 58.53169548885461 20.72949016875158 A 30 30 0 1 1 29.999999999999993 0 L 30 30" data-value="4" fill="rgb(255, 187, 51)"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h2 class="font-weight-bold mb-2">68%</h2>
                                <div>نرخ نگهداری صفحه</div>
                            </div>
                            <div>
                                <span class="dashboard-pie-4" style="display: none;">2/5</span><svg class="peity" height="60" width="60"><path d="M 30.000000000000004 0 A 30 30 0 0 1 47.633557568774194 54.270509831248425 L 30 30" data-value="2" fill="rgba(51, 181, 229, 0.3)"></path><path d="M 47.633557568774194 54.270509831248425 A 30 30 0 1 1 29.999999999999993 0 L 30 30" data-value="3" fill="rgb(51, 181, 229)"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card app-content-body">
            
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="card-title " id='last_date'>میزان تولید</h6>
                                <div>
                                    <a href="#" class="mr-3">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <span class="dropdown">
                                        <a href="#" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                        <span class="dropdown-menu dropdown-menu-left">
                                            <a href="#" class="dropdown-item">گزارش</a>
                                            <a href="#" class="dropdown-item">دانلود</a>
                                            <a href="#" class="dropdown-item">بستن</a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                                 <!-- <canvas id="hot-products"></canvas>
                                 <div id="hot-products-legends"></div> -->
            
            
            
                                 <div id="barAssetProductionChartholder">
            
                                    <div id="barAssetProductionChart"></div>
                                 </div>
                            <!-- <div class="card">
                                    <canvas id="countries"></canvas>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
               <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="card-title " id='last_date'>تولید در 12 ماه گذشته</h6>
                                <div>
                                    <a href="#" class="mr-3">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <span class="dropdown">
                                        <a href="#" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                        <span class="dropdown-menu dropdown-menu-left">
                                            <a href="#" class="dropdown-item">گزارش</a>
                                            <a href="#" class="dropdown-item">دانلود</a>
                                            <a href="#" class="dropdown-item">بستن</a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                                 <!-- <canvas id="hot-products"></canvas>
                                 <div id="hot-products-legends"></div> -->
            
            
            
                                 <div id="barProductionCurrentYearholder">
            
                                    <div id="barProductionCurrentYear"></div>
                                 </div>
                            <!-- <div class="card">
                                    <canvas id="countries"></canvas>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
           
        </div>
    </div>
</div>












{% endblock %}
{% block javascript %}
<!-- Chartjs -->
<script src="{% static 'vendors/charts/chartjs/chart.min.js' %}"></script>
<!-- Apex chart -->
<script src="{% static 'vendors/charts/apex/apexcharts.min.js' %}"></script>

<!-- Circle progress -->
<script src="{% static 'vendors/circle-progress/circle-progress.min.js' %}"></script>

<!-- Peity -->
<script src="{% static 'vendors/charts/peity/jquery.peity.min.js' %}"></script>
<script src="{% static 'assets/js/examples/charts/peity.js' %}"></script>

<!-- Datepicker -->
<script src="{% static 'vendors/datepicker/daterangepicker.js' %}"></script>
<script src="{% static 'assets/Datepiker/persian-datepicker.js' %}"></script>
<script src="{% static 'vendors/datepicker/bootstrap-datepicker.fa.min.js' %}"></script>


<!-- Slick -->
<script src="{% static 'vendors/slick/slick.min.js' %}"></script>

<!-- Vamp -->
<script src="{% static 'vendors/vmap/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/vmap/maps/jquery.vmap.usa.js' %}"></script>
<script src="{% static 'assets/js/examples/vmap.js' %}"></script>


<!-- a -->
<script src="{% static 'assets/Cal/moment.js' %}"></script>
<script src="{% static 'assets/Cal/moment-jalaali.js' %}"></script>
<script src="{% static 'assets/Cal/fullcalendar.js' %}"></script>
<script src="{% static 'assets/Cal/fa.js' %}"></script>


<!-- Dashboard scripts -->

<!-- App scripts -->
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'project/dash.js' %}"></script>

{% endblock %}
