

<div class="row">
    
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h6 class="card-title">{{title}}</h6>
                <div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
                    <table class="table  table-bordered">
                        <thead>
                            <tr>
                                <th>نام کالا</th>
                                <th>تعداد</th>
                                <th>قسمت مورد مصرف</th>
                                <th>شرح</th>
                                <th> عملیات</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                            
                        </tbody>
                        <tfoot>
                            <tr class="add-row" id="add-row">
                                <td colspan="5">  <button class="btn btn-primary  btn-floating">
                                    <i class="ti-plus"></i></button></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>



    </div>
</div>



