{% load custom_filters %}
{% load humanize %}

<div class="row">
    
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h6 class="card-title">{{title}}</h6>
                <input type="hidden" id="companyId" name="companyId" value="{{company.id}}" />
                {% if request.user|in_group:"purchase" %}

                <div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;" >
                    <table class="table  table-bordered">
                        <thead>
                            <tr  class="bg-dark">
                                <th>نام کالا</th>
                                <th>تعداد</th>
                                <th>قسمت مورد مصرف</th>

                                <th>شرح</th>
                                <th>تامین کننده</th>
                                <th>تعداد تامینی</th>
                                <th>فی</th>
                               
                                <th> عملیات</th>
                                

                                
                            </tr>
                        </thead>
                        <tbody id="table-body-purchase">
                            
                            {% for i in items %} 
                            <tr data-id="{{i.id}}">
                                <td  class=" part-name" data-id="{{i.item_name.id}}" data-partcode="{{i.item_name.partCode}}">{{i.item_name.partName}}</td>
                                <td  class="">{{i.quantity}}</td>
                                <td  class=" machine-name" data-id="{{i.consume_place.id}}" data-machinecode="{{i.consume_place.assetCode}}">{{i.consume_place.assetName}}</td>
                                <td  class=" " data-id="">{{i.description}}</td>
                                <td  class=" " data-id="">{{i.supplier_assigned|default_if_none:'مشخص نشده'}}</td>
                                <td  class=" " data-id="">{{i.supplied_quantity|default_if_none:'مشخص نشده'}}</td>
                                <td  class=" " data-id="">{{i.price|intcomma}}</td>
                                <td  class="" data-id=""><a href="#" data-url="{% url 'update_purchase_item' i.id %}" data-toggle="tooltip" title="" data-original-title="جزییات" class="js-purchase-item-update">
                                    <i class="fa fa-external-link"></i>
                                </a></td>

                                
                                
                            </tr>
                            {% endfor %}
                           
                        </tbody>
                      
                       
                    </table>
                </div>
                

                {% else %}

                <div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
                    <table class="table  table-bordered">
                        <thead>
                            <tr  class="bg-dark">
                                <th>نام کالا</th>
                                <th>تعداد</th>
                                <th>قسمت مورد مصرف</th>
                                <th>شرح</th>
                                {% if company.status == "Pending" and perms.mrp.can_edit_purchase %}
                                <th> عملیات</th>
                                {% endif%}

                                
                            </tr>
                        </thead>
                        <tbody id="table-body">
                            {% if company.status != "Pending"%}
                            {% for i in items %} 
                            <tr data-id="{{i.id}}">
                                <td  class="editable-cell part-name" data-id="{{i.item_name.id}}" data-partcode="{{i.item_name.partCode}}">{{i.item_name.partName}}</td>
                                <td  class="editable-cell">{{i.quantity}}</td>
                                <td  class="editable-cell machine-name" data-id="{{i.consume_place.id}}" data-machinecode="{{i.consume_place.assetCode}}">{{i.consume_place.assetName}}</td>
                                <td  class="editable-cell description" data-id="">{{i.description}}</td>
                                
                                
                            </tr>
                            {% endfor %}
                            {% elif  company.status == "Pending" and perms.mrp.can_edit_purchase %}
                            {% for i in items %} 
                            <tr data-id="{{i.id}}">
                                <td contenteditable="true" class="editable-cell part-name" data-id="{{i.item_name.id}}" data-partcode="{{i.item_name.partCode}}">{{i.item_name.partName}}</td>
                                <td contenteditable="true" class="editable-cell">{{i.quantity}}</td>
                                <td contenteditable="true" class="editable-cell machine-name" data-id="{{i.consume_place.id}}" data-machinecode="{{i.consume_place.assetCode}}">{{i.consume_place.assetName}}</td>
                                <td contenteditable="true" class="editable-cell description" data-id="">{{i.description}}</td>
                                <td>
                                    <button class="btn btn-sm  delete-row">
                                        <i class="fa fa-trash"></i> <!-- Tiny Trash Icon -->
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% elif  company.status == "Pending" and not perms.mrp.can_edit_purchase %}
                            {% for i in items %} 
                            <tr data-id="{{i.id}}">
                                <td  class="editable-cell part-name" data-id="{{i.item_name.id}}" data-partcode="{{i.item_name.partCode}}">{{i.item_name.partName}}</td>
                                <td  class="editable-cell">{{i.quantity}}</td>
                                <td  class="editable-cell machine-name" data-id="{{i.consume_place.id}}" data-machinecode="{{i.consume_place.assetCode}}">{{i.consume_place.assetName}}</td>
                                <td  class="editable-cell description" data-id="">{{i.description}}</td>
                                
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                        {% if company.status == "Pending" and perms.mrp.can_edit_purchase %}
                        <tfoot>
                            <tr class="add-row" id="add-row">
                                <td colspan="5">  <button class="btn btn-primary  btn-floating">
                                    <i class="ti-plus"></i></button></td>
                            </tr>
                        </tfoot>
                        {% endif %}
                       
                    </table>
                </div>
                {% endif %}

            </div>
        </div>



    </div>
</div>



