{% load custom_filters %}

<div class="card-header">
    <div class="app-detail-action-left">
        <a class="app-detail-close-button" href="#">
            <i data-feather="arrow-left" class="mr-3"></i>
        </a>
        <h5 class="mb-0">
            درخواست
            <span class="badge bg-warning badge-pill ml-1 badge_status">{{company.get_status_display}}</span>
        </h5>
    </div>
    <div class="app-detail-action-right">
        <div>
            {% if company.is_emergency %}
            <a href="#" class="btn btn-danger ml-2" data-toggle="tooltip"
               title="اورژانسی">
                <i data-feather="alert-triangle"></i>
            </a> 
            {% endif %}
            <a href="#" class="btn btn-outline-light ml-2 "  data-toggle="tooltip" id="saveButton"
            title="save">
             <i data-feather="save"></i>
         </a>
        
         {% if request.user|in_group:"anbar" %}
        <a href="#" class="btn btn-outline-light approved" data-url="{% url 'confirm_request' company.id %}" data-toggle="tooltip" title="تایید انبار">
            <i data-feather="check-circle"></i>
        </a>
        {% elif request.user|in_group:"managers" %}
        <a href="#" class="btn btn-outline-light approved" data-url="{% url 'confirm_request' company.id %}" data-toggle="tooltip" title="تایید مدیر">
            <i data-feather="check-circle"></i>
        </a>
        {% elif request.user|in_group:"director" %}
        <a href="#" class="btn btn-outline-light approved" data-url="{% url 'confirm_request' company.id %}" data-toggle="tooltip" title="تایید مدیرعامل">
            <i data-feather="check-circle"></i>
        </a>
        {% elif request.user|in_group:"purchase" %}
        <a href="#" class="btn btn-outline-light approved" data-url="{% url 'confirm_request' company.id %}" data-toggle="tooltip" title="تایید خرید">
            <i data-feather="check-circle"></i>
        </a>
        {% endif %}
            <a href="#" class="btn btn-outline-light ml-2 rejected" data-url="{% url 'reject_request' company.id %}" data-toggle="tooltip"
               title="رد کردن">
                <i data-feather="trash"></i>
            </a>
        </div>
    </div>
</div>
<div class="app-detail-article">
    <div class="card-body">
     {% include 'mrp/purchase/purchase_v2.html' %}
    
    </div>
    <hr class="m-0">
    
    {% comment %} {% include 'mrp/purchase/tab_updatereq_v2.html' %} {% endcomment %}


 
</div>
<script>
    var purchase_request_id='{{company.id}}';
    
     </script>
