<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>سیستم مدیریت تولید دیانا-- سرورایان</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'assets/media/image/favicon.png' %}"/>

  <!-- Plugin styles -->
  <link rel="stylesheet" href="{% static 'vendors/bundle.css' %}" type="text/css">

  <!-- App styles -->
  <link rel="stylesheet" href="{%  static 'assets/css/app.min.css' %}" type="text/css">
  <!-- Datepicker -->
<link rel="stylesheet" href="{%  static 'vendors/datepicker/daterangepicker2.css' %}">

<link rel="stylesheet" href="{%  static 'vendors/datepicker/daterangepicker.css' %}">
<link rel="stylesheet" href="{%  static 'assets/Datepiker/persian-datepicker.css' %}">
{% block stylesheet %}
{% endblock %}

</head>
<body class="navigation-toggle-one">

  <!-- begin::preloader-->
  <div class="preloader">
    <div class="preloader-icon"></div>
  </div>
  <!-- end::preloader -->

  <!-- begin::header -->
  <div class="header d-print-none">

    <div>
        <ul class="navbar-nav">

            <!-- begin::navigation-toggler -->
            <li class="nav-item navigation-toggler">
                <a href="#" class="nav-link" title="Hide navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                </a>
            </li>
            <li class="nav-item navigation-toggler mobile-toggler">
                <a href="#" class="nav-link" title="Show navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </a>
            </li>
            <li class="nav-item">
             <h4 class="nav-link "></h4>
          </li>
            <!-- end::navigation-toggler -->

            
        </ul>
    </div>

    <div>
        <ul class="navbar-nav">

            

            <!-- begin::header search -->
           
            <!-- end::header search -->

            <!-- begin::header minimize/maximize -->
            
            <!-- end::header minimize/maximize -->

            <!-- begin::header messages dropdown -->
            
            <!-- end::header messages dropdown -->

            <!-- begin::header notification dropdown -->
            
            <!-- end::user menu -->
        </ul>

        <!-- begin::mobile header toggler -->
        <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item header-toggler">
                <a href="#" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>
                </a>
            </li>
        </ul>
        <!-- end::mobile header toggler -->
    </div>
    <div>
      <ul class="navbar-nav">

        <li class="nav-item">
          <a href="#">اطلاعات/</a>
        </li>
        <li class="nav-item">
          <a href="#">صفحات/</a>
        </li>
        <li class="nav-item active" aria-current="page">{{title}}</li>
       

        <!-- begin::header search -->
        
        <!-- end::header search -->

        <!-- begin::header minimize/maximize -->
        
        <!-- end::header minimize/maximize -->

        <!-- begin::header messages dropdown -->
        
        <!-- end::header messages dropdown -->

        <!-- begin::header notification dropdown -->
        
        <!-- end::header notification dropdown -->

        <!-- begin::user menu -->
       
        <!-- end::user menu -->
    </ul>
    </div>
   
</div>
<!-- end::header -->

<!-- begin::main -->
<div id="main">

  <!-- begin::navigation -->
  {% include 'mrp/menu.html' %}
<!-- end::navigation -->

<!-- begin::main-content -->
<main class="main-content">

  <!-- begin::page-header -->
  
  <!-- end::page-header -->

  <div class="container-fluid">

  {% block content %}
  {% endblock %}

    <!-- begin::footer -->
    <footer>
      <div class="container-fluid d-print-none">
        <div>© 1402 |سیستم مدیریت تولید و درخواست دیانا <a href="https://sarvrayan.ir">سرو رایان</a></div>

     
    </footer>
    <!-- end::footer -->

  </main>
  <!-- end::main-content -->

</div>
<!-- end::main -->

<!-- begin::global scripts -->
<script src="{% static 'vendors/bundle.js' %}"></script>
<!-- end::global scripts -->

<!-- begin::custom scripts -->
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'vendor/moment/moment.min.js' %}"></script>
<script src="{% static 'vendor/Jcal/moment-jalaali.js' %}"></script>
<!-- Datepicker -->


<!-- <script type="text/javascript" src="vendors/datepicker/daterangepicker2.js"></script> -->


<script src="{% static 'vendors/datepicker/daterangepicker.js' %}"></script>
<script src="{% static 'vendor/Jcal/moment-jalaali.js' %}"></script>

<!--  -->
<script src="{% static 'vendor/moment/moment.min.js' %}"></script>






<!-- // -->
<script src="{% static 'assets/Datepiker/persian-date.js' %}"></script>
<script src="{% static 'assets/Datepiker/persian-datepicker.js' %}"></script>




{% block javascript %}
{% endblock %}
<!-- end::custom scripts -->

</body>

</html>
