<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>سیستم مدیریت تولید دیانا-- سرورایان</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'assets/media/image/favicon.png' %}"/>

  <!-- Plugin styles -->
  <link rel="stylesheet" href="{% static 'vendors/bundle.css' %}" type="text/css">

  <!-- App styles -->
  <link rel="stylesheet" href="{%  static 'assets/css/app.min.css' %}" type="text/css">
  <!-- Datepicker -->
<link rel="stylesheet" href="{%  static 'vendors/datepicker/daterangepicker2.css' %}">

<link rel="stylesheet" href="{%  static 'vendors/datepicker/daterangepicker.css' %}">
<link rel="stylesheet" href="{%  static 'assets/Datepiker/persian-datepicker.css' %}">
{% block stylesheet %}
{% endblock %}

</head>
<body class="navigation-toggle-one">

  <!-- begin::preloader-->
  <div class="preloader">
    <div class="preloader-icon"></div>
  </div>
  <!-- end::preloader -->

  <!-- begin::header -->

<!-- end::header -->

<!-- begin::main -->
<div id="main">

  <!-- begin::navigation -->
  {% include 'mrp/menu.html' %}
<!-- end::navigation -->

<!-- begin::main-content -->
<main class="main-content">

  <!-- begin::page-header -->
  <div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
      <h4>{{title}}</h4>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">اطلاعات</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">صفحات</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- end::page-header -->

  <div class="container-fluid">

  {% block content %}
  {% endblock %}

    <!-- begin::footer -->
    <footer>
      <div class="container-fluid">
        <div>© 1402 |سیستم مدیریت تولید xxx<a href="sarvrayan.ir">سرو رایان</a></div>

        <div>
          <nav class="nav">
            <a href="https://www.rtl-theme.com/standard/" class="nav-link">لیسانس</a>
            <a href="#" class="nav-link">تغییر لاگ</a>
            <a href="#" class="nav-link">راهنمایی</a>
          </nav>
        </div>
      </div>
    </footer>
    <!-- end::footer -->

  </main>
  <!-- end::main-content -->

</div>
<!-- end::main -->

<!-- begin::global scripts -->
<script src="{% static 'vendors/bundle.js' %}"></script>
<!-- end::global scripts -->

<!-- begin::custom scripts -->
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'vendor/moment/moment.min.js' %}"></script>
<script src="{% static 'vendor/Jcal/moment-jalaali.js' %}"></script>
<!-- Datepicker -->


<!-- <script type="text/javascript" src="vendors/datepicker/daterangepicker2.js"></script> -->


<script src="{% static 'vendors/datepicker/daterangepicker.js' %}"></script>
<script src="{% static 'vendor/Jcal/moment-jalaali.js' %}"></script>

<!--  -->
<script src="{% static 'vendor/moment/moment.min.js' %}"></script>






<!-- // -->
<script src="{% static 'assets/Datepiker/persian-date.js' %}"></script>
<script src="{% static 'assets/Datepiker/persian-datepicker.js' %}"></script>




{% block javascript %}
{% endblock %}
<!-- end::custom scripts -->

</body>

</html>
