{% load static %}
<div class="navigation">

  <div class="navigation-menu-tab">
    <div>
      <div class="navigation-menu-tab-header" data-toggle="tooltip" title="" data-placement="right">
        <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
          <figure class="avatar avatar-sm">
            <img src="{{request.user.sysuser.profileImage.url}}" class="rounded-circle" alt="avatar">
          </figure>
        </a>
        <div class="dropdown-menu dropdown-menu-left dropdown-menu-big">
          <div class="p-3 text-center" data-backround-image="{% static 'assets/media/image/image1.jpg' %}">
            <figure class="avatar mb-3">
              <img src="{{request.user.sysuser.profileImage.url}}" class="rounded-circle" alt="image">
            </figure>
            <h6 class="d-flex align-items-center justify-content-center">
              {{request.user.sysuser.fullName}}
              <a href="#" class="btn btn-primary btn-sm ml-2" data-toggle="tooltip" title="ویرایش پروفایل">
                <i data-feather="edit-2"></i>
              </a>
            </h6>
            <!-- <small>شارژ: <strong>1000 تومان</strong></small> -->
          </div>
          <div class="dropdown-menu-body">
            <!-- <div class="border-bottom p-4">
              <h6 class="text-uppercase font-size-11 d-flex justify-content-between">
                حافظه
                <span>%25</span>
              </h6>
              <div class="progress" style="height: 8px;">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 35%;"
                aria-valuenow="35"
                aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div> -->
            <div class="list-group list-group-flush">
              <a href="#" class="list-group-item">پروفایل</a>
              <!-- <a href="#" class="list-group-item d-flex">
                دنبال‌کنندگان<span class="text-muted ml-auto">214</span>
              </a>
              <a href="#" class="list-group-item d-flex">
                صندوق ورودی <span class="text-muted ml-auto">18</span>
              </a> -->
              <!-- <a href="#" class="list-group-item" data-sidebar-target="#settings">صورتحساب</a>
              <a href="#" class="list-group-item" data-sidebar-target="#settings">راهنمایی?</a> -->
              <a href="{% url 'logout' %}" class="list-group-item text-danger" data-sidebar-target="#settings">خروج</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-grow-1">
      <ul>
        {% if perms.mrp.can_operator_mrp %}
        <li>
          <a href="#" data-toggle="tooltip" data-placement="right" title="اطلاعات"
          data-nav-target="#dashboards">
          <i data-feather="bar-chart-2"></i>
        </a>
      </li>
      {% endif %}
      {% if request.user.is_superuser%}
      <li>
        <a href="#" data-toggle="tooltip" data-placement="right" title="تنظیمات" data-nav-target="#apps">
          <i data-feather="command"></i>
        </a>
      </li>
      {% endif %}
      {% if perms.mrp.can_operator_mrp %}
      <li>
        <a href="#" data-toggle="tooltip" data-placement="right" title="راندمان" data-nav-target="#apps2">
          <i data-feather="coffee"></i>
        </a>
      </li>
      {% endif %}
      {% if perms.mrp.can_operator_purchase %}
      <li>
        <a href="#" data-toggle="tooltip" data-placement="right" title="بازرگانی" data-nav-target="#apps4">
          <i data-feather="shopping-cart"></i>
        </a>
      </li>
      {% endif %}
  {% if perms.mrp.can_operate_guard %}

      <li>
        <a href="#" data-toggle="tooltip" data-placement="right" title="نگهبانی" data-nav-target="#apps5">
          <i data-feather="shield"></i>
        </a>
      </li>
      {% endif %}
      {% if perms.mrp.can_operator_mrp %}
      <li>
        <a href="#" data-toggle="tooltip" data-placement="right" title="گزارش" data-nav-target="#apps3">
          <i data-feather="layers"></i>
        </a>
      </li>
      {% endif %}

  </ul>
</div>
<div>
  <ul>
    <!-- <li>
      <a href="#" data-toggle="tooltip" data-placement="right" title="تنظیمات">
        <i data-feather="settings"></i>
      </a>
    </li> -->
    {% if request.user.is_superuser%}
    <li>
      <a href="{% url 'backup_database' %}" data-toggle="tooltip" data-placement="right" title="پشتیبان گیری">
        <i data-feather="save"></i>
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{% url 'logout' %}" data-toggle="tooltip" data-placement="right" title="خروج">
        <i data-feather="log-out"></i>
      </a>
    </li>
  </ul>
</div>
</div>

<!-- begin::navigation menu -->
<div class="navigation-menu-body">

<!-- begin::navigation-logo -->
<div>
  <div id="navigation-logo">
    <a href="index.html">
      <img class="logo" src="{% static 'assets/media/image/logo-F.png' %}" alt="logo">
      <img class="logo-light" src="{% static 'assets/media/image/logo-light.png' %}" alt="light logo">
    </a>
  </div>
</div>
<!-- end::navigation-logo -->

<div class="navigation-menu-group">
  {% if perms.mrp.can_operator_mrp %}
  <div id="dashboards">
    <ul>
      <li class="navigation-divider">اطلاعات</li>
      <li><a href="{% url 'list_dashboard' %}">داشبورد</a></li>
      <li><a href="{% url 'register_daily_amar' %}">ورود اطلاعات روزانه</a></li>

      <li><a href="{% url 'calendar_main' %}">مشاهده آمار روزانه</a></li>
      {% comment %} <li><a href="{% url 'calendar_randeman_brief' %}">راندمان روزانه تولید</a></li> {% endcomment %}
       <li><a href="{% url 'calendar_randeman' %}">راندمان روزانه تولید به تفکیک شیفت</a></li> 
      <li><a href="{% url 'monthly_detaild_report_ezami' %}">سرانه تولید</a></li>
      {% comment %} <li><a href="{% url 'calendar_tahlil' %}">تحلیل تولید روزانه</a></li> {% endcomment %}
      <li><a href="{% url 'monthly_detaild_report' %}">آمار تولید ماهانه</a></li>
      {% comment %} <li><a href="{% url 'monthly_brief_report' %}">آمار تولید ماهانه (راندمان)</a></li> {% endcomment %}
      {% comment %} <li><a href="{% url 'asset_failure_list' %}">ثبت آمار توقف {% endcomment %}
      {% comment %} <li><a href="{% url 'calendar_asset_failure' %}">آمار توقف {% endcomment %}
      </a></li>
      <li><a href="{% url 'monthly_zayeat_detaild_report' %}">آمار ضایعات ماهانه
      </a></li>
      {% comment %} <li><a href="{% url 'monthly_detaild_failured_report' %}">مشاهده توقفات ماهانه</a></li> {% endcomment %}




    </ul>
  </div>
  {% endif %}
  {% if request.user.is_superuser%}
  <div id="apps">
    <ul>
      <li class="navigation-divider">تنظیمات</li>
      {% if request.user.is_superuser %}
         
      <li>
        <a href="{% url 'list_user' %}">
          <span>کاربران</span>

        

        </a>
      </li>
      {% endif %}
      <li>
        <a href="{% url 'list_shifts' %}">
          <span>شیفت ها</span>

        </a>
      </li>
      <li>
        <a href="{% url 'moshakhase_list' %}">
          <span>مشخصه ها</span>

        </a>
      </li>
      <li>
        <a href="{% url 'list_formula' %}">
          <span>فرمولهای تولید</span>
        </a>
      </li>
      <li>
        <a href="{% url 'list_speed_formula' %}">
          <span>فرمولهای سرعت</span>

        </a>
      </li>
      <li>
        <a href="{% url 'list_failures' %}">
          <span>نوع توقفات</span>

        </a>
      </li>
   
      

    </ul>
  </div>
  {% endif %}
  {% if perms.mrp.can_operator_purchase %}
  <div id="apps4">
    <ul>
      <li class="navigation-divider">بازرگانی</li>
      <li>
        <a href="{% url 'list_purchase_req' %}">
          <span>درخواست</span>
        

        </a>
      </li>
      {% if request.user.is_superuser or perms.mrp.view_all_request %}
         
      <li>
        <a href="{% url 'list_purchase_req_detail' %}">
          <span>همه درخواست ها</span>

        

        </a>
      </li>
      {% endif %}

      <li>
        <a href="{% url 'calendar_purchase_request_main' %}">
          <span>تقویم</span>

        

        </a>
      </li>
  {% if perms.mrp.can_view_pb %}

      <li>
        <a href="{% url 'list_pboard' %}" target="_blank">
          <span>تابلو خرید</span>

        

        </a>
      </li>
      {% endif %}


   
      

    </ul>
  </div>
  {% endif %}
  {% if perms.mrp.can_operator_mrp %}
  <div id="apps2">
    <ul>
      <li class="navigation-divider">راندمان</li>
      <li>
        <a href="{% url 'asset_randeman_list' %}">
          <span>راندمان</span>

        </a>
      </li>
      <li>
        <a href="{% url 'profile_list' %}">
          <span>پروفایل مالی</span>

        </a>
      </li>
      <li>
        <a href="{% url 'list_tolid_padash' %}">
          <span>پاداش تولید</span>

        </a>
      </li>
      <li>
        <a href="{% url 'list_nezafat_padash' %}">
          <span>پاداش نظافت</span>

        </a>
      </li>
      <li>
        <a href="{% url 'get_init_asset_randeman' %}">
          <span>راندمان اولیه هر دستگاه</span>

        </a>
      </li>

    </ul>
  </div>
  {% endif %}
  {% if perms.mrp.can_operator_mrp %}
  <div id="apps3">
    <ul>
      <li class="navigation-divider">گزارشات</li>
    <li>
      <a href="{% url 'daily_tolid_with_chart' %}">
        <span>نمودار میله ای روزانه تولید</span>

      </a>
    </li>
    <li>
      <a href="{% url 'list_report' %}">
        <span>گزارشات</span>


      </a>
    </li>
  </ul>

  </div>
  {% endif %}
  {% if perms.mrp.can_operate_guard %}
  <div id="apps5">
    <ul>
      <li class="navigation-divider">نگهبانی</li>
      <li>
        <a href="{% url 'list_gaurd' %}">
          <span>آمار ورود خروج</span>
  
        </a>
      </li>
    </ul>
    
  </div>
  {% endif %}

</div>
</div>
<!-- end::navigation menu -->

</div>
