<li class="nav-item dropdown">
    <a href="#" class="nav-link nav-link-notify" title="اطلاعیه‌ها" data-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
    </a>
    <div class="dropdown-menu dropdown-menu-left dropdown-menu-big" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
        <div class="p-4 text-center d-flex justify-content-between" data-backround-image="assets/media/image/image1.jpg" style="background: url(&quot;assets/media/image/image1.jpg&quot;);">
            <h6 class="mb-0">اطلاعیه‌ها</h6>
            <small class="font-size-11 opacity-7" id="notificationBadge">1 اطلاعیه خوانده نشده</small>
        </div>
        <div>
            <ul class="list-group list-group-flush" tabindex="3" style="overflow: hidden; outline: none;" id="notificationList">
                <li>
                    <a href="#" class="list-group-item d-flex hide-show-toggler">
                        <div>
                            <figure class="avatar avatar-sm m-r-15">
                                    <span class="avatar-title bg-success-bright text-success rounded-circle">
                                        <i class="ti-user"></i>
                                    </span>
                            </figure>
                        </div>
                        <div class="flex-grow-1">
                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                ثبت نام خریدار جدید
                                <i title="" data-toggle="tooltip" class="hide-show-toggler-item fa fa-circle-o font-size-11" data-original-title="Mark as read"></i>
                            </p>
                            <span class="text-muted small">20 دقیقه قبل</span>
                        </div>
                    </a>
                </li>
                <li class="text-divider small pb-2 pl-3 pt-3">
                    <span>اطلاعیه‌های قبلی</span>
                </li>
                <li>
                    <a href="#" class="list-group-item d-flex hide-show-toggler">
                        <div>
                            <figure class="avatar avatar-sm m-r-15">
                                    <span class="avatar-title bg-warning-bright text-warning rounded-circle">
                                        <i class="ti-package"></i>
                                    </span>
                            </figure>
                        </div>
                        <div class="flex-grow-1">
                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                               سفارش جدید دریافت شد
                                <i title="" data-toggle="tooltip" class="hide-show-toggler-item fa fa-check font-size-11" data-original-title="Mark as unread"></i>
                            </p>
                            <span class="text-muted small">45 ثانیه قبل</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="list-group-item d-flex align-items-center hide-show-toggler">
                        <div>
                            <figure class="avatar avatar-sm m-r-15">
                                    <span class="avatar-title bg-danger-bright text-danger rounded-circle">
                                        <i class="ti-server"></i>
                                    </span>
                            </figure>
                        </div>
                        <div class="flex-grow-1">
                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                               به سقف مجاز سرور نزدیک شده اید
                                <i title="" data-toggle="tooltip" class="hide-show-toggler-item fa fa-check font-size-11" data-original-title="Mark as unread"></i>
                            </p>
                            <span class="text-muted small">55 ثانیه قبل</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="list-group-item d-flex align-items-center hide-show-toggler">
                        <div>
                            <figure class="avatar avatar-sm m-r-15">
                                    <span class="avatar-title bg-info-bright text-info rounded-circle">
                                        <i class="ti-layers"></i>
                                    </span>
                            </figure>
                        </div>
                        <div class="flex-grow-1">
                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                اپ های دارای بروزسانی
                                <i title="" data-toggle="tooltip" class="hide-show-toggler-item fa fa-check font-size-11" data-original-title="Mark as unread"></i>
                            </p>
                            <span class="text-muted small">دیروز</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="p-2 text-right">
            <ul class="list-inline small">
                <li class="list-inline-item">
                    <a href="#">علامتگذاری به عنوان خوانده شده</a>
                </li>
            </ul>
        </div>
    <div id="ascrail2002" class="nicescroll-rails nicescroll-rails-vr" style="width: 8px; z-index: 1000; cursor: default; position: absolute; top: 65.7969px; left: 292px; height: 296.625px; display: none; opacity: 0;"><div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 6px; height: 0px; background-color: rgb(66, 66, 66); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;"></div></div><div id="ascrail2002-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 8px; z-index: 1000; top: 354.422px; left: 0px; position: absolute; cursor: default; display: none; opacity: 0;"><div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 6px; width: 0px; background-color: rgb(66, 66, 66); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px; left: 0px;"></div></div></div>
</li>