{% load humanize %}
{% for c in formulas %}
<tr data-id={{c.id}}>
  <td>{{c.asset_category.name}}</td>
  <td contenteditable="true" class="editable-cell operator_count">{{c.operator_count}}</td>
  <td contenteditable="true" class="editable-cell max_randeman">{{c.max_randeman|floatformat:0|intcomma}}</td>
  <td contenteditable="true" class="editable-cell randeman_yek_dastgah">{{c.randeman_yek_dastgah|floatformat:0|intcomma}}</td>
  <td contenteditable="true" class="editable-cell randeman_mazrab_3">{{c.randeman_mazrab_3|floatformat:0|intcomma}}</td>
  <td contenteditable="true" class="editable-cell mablaghe_kole_randeman">{{c.mablaghe_kole_randeman|floatformat:0|intcomma}}</td>
  <td contenteditable="true" class="editable-cell mablaghe_kole_randeman_round">{{c.mablaghe_kole_randeman_round|floatformat:0|intcomma}}</td>
  <td contenteditable="true"  class="editable-cell randeman_tolid">{{c.randeman_tolid|floatformat:0|intcomma}}</td>

<td>
  <button type="button" class="btn btn-outline-light js-update-assetRandeman" data-url="{% url 'assetrandemaninit_update' c.id %}">  <i class="ti-eye"></i></button>
  <button type="button" class="btn btn-outline-light js-inline_save-assetRandeman d-none" data-url="{% url 'assetrandemaninit_partial_update' c.id %}">  <i class="ti-upload"></i></button>
</td>

</tr>
{% endfor %}

