{% load humanize %}

{% for i in rfqs %}
                            
                             
<tr data-id="{{i.id}}" class="{% if i.is_verified %} bg-success {% endif %}">
    <td class="editable-cell part-name" data-id="596" data-partcode="پکینگ_طبق_نمونه">{{i.items}}</td>
    <td class="editable-cell">{{i.supplier}}</td>
    <td class="editable-cell machine-name" data-id="302" data-machinecode="شیر_بادی">{{i.total_price|intcomma}}</td>
    <td class="editable-cell description" data-id="">{{i.description}}</td>
    {% if perms.mrp.can_edit_rfq %}
    <td>
        {% if company.status in "Approve2,Approve" and i.is_verified == False %}
        <button type="button"
        class="btn  btn-sm js-update-rfq"
        data-url="{% url 'rfq_update' i.id %} ">
    ویرایش 
        </button>
    
        <button type="button"
                    class="btn  btn-sm js-delete-rfq"
                    data-url="{% url 'rfq_delete' i.id %}">
                </span> حذف
            </button>
            {% endif%}
       </td>
    {% endif %}
    {% if perms.mrp.can_view_rfq %}

    <td class="text-center">
        {% if i.is_verified %}
        <i class="fa fa-check"></i>
        {% else %}
        <button type="button"
        class="btn bg-primary  btn-sm verify_rfq"
        data-id="{{i.id}}">
    تایید
        </button>
        {% endif %}
    
      
       </td>
    {% endif %}
    
    
</tr>
 

{% empty %}
<tr>
    <td colspan="5" class="text-center bg-info">استعلامی برای این درخواست وجود ندارد</td>
   </tr>

{% endfor%}
