{% load widget_tweaks %}
<div class="row">
<div class="col-sm-12 b-r">
  <div class="form-group">
    <label>تامین کننده</label>
    {% render_field form.supplier  class='form-control select2' %}

  </div>
  <div class="form-group">
    <label>کالا</label> 
    
    <select id="items" name="items" class="form-control">
        {% for i in items %}
        <option value={{i.id}} {% if i.id == form.instance.items.id %} selected {% endif %}>
            {{i.item_name}}
        </option>

        {% endfor %}
    </select>

  </div>
  <div class="form-group">

    <label>قیمت</label>
      {% render_field form.total_price  class='form-control' %}
      <p id="id_price">قیمت</p>


  </div>
  <div class="form-group">

    <label>توضیح</label>
      {% render_field form.description  class='form-control' %}


  </div>







</div>


</div>
