{% load humanize %}

<div class="row">
    
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">

                <h6 class="card-title">استعلام</h6>
                

                <div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
                    <table class="table  table-bordered">
                        <thead>
                            <tr class="bg-primary">
                                <th>نام کالا</th>
                                <th>تامین کننده</th>
                                <th>قیمت</th>
                                <th>شرح</th>
                               

                                <th>عملیات</th>
                              
                                
                                

                                
                            </tr>
                        </thead>
                        <tbody id="rfqtable-body">
                       {% include 'mrp/rfq/partialRFQList.html' %}
                            
                            
                        </tbody>
                        
                       
                    </table>
                </div>

            </div>
        </div>



    </div>
</div>