{% load humanize %}

{% for moshakhase in wo %}
  <tr>
    <td>{{ moshakhase.name }}</td>
    <td>{{ moshakhase.color }}</td>
    <td>{{moshakhase.tool|intcomma}}</td>
    <td>{{moshakhase.la|default_if_none:'نامشخص'}}</td>
    
    <td>
     
      <button type="button" class="btn btn-outline-light js-update-moshakhase" data-url="{% url 'moshakhase_update' moshakhase.id %}" >  <i class="ti-eye"></i></button>

      <button type="button" class="btn btn-outline-light js-delete-moshakhase" data-url="{% url 'moshakhase_delete' moshakhase.id %}">  <i class="ti-close"></i></button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-success">اطلاعاتی یافت نشد!</td>
  </tr>
{% endfor %}