{% for i in assetfailures %}
<tr>
  <td>{{i.sal}}</td>
  <td>{{i.mah}}</td>

  <td class="w-25">
    <button type="button" class="btn btn-outline-light js-update-assetRandeman" data-url="{% url 'assetRandeman_update' i.id %}" >  <i class="ti-eye"></i></button>
    <button type="button" class="btn btn-outline-light js-assetRandeman-delete" data-url="{% url 'assetRandeman_delete' i.id %}">  <i class="ti-close"></i></button>
  </td>

</tr>
{% empty %}
<tr>
  <td colspan="3" class="text-center">موردی برای نمایش وجود ندارد</td>
</tr>
{% endfor %}
