{% extends 'mrp/blank-page.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h6 class="card-title">پایه</h6>
                <div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr class="bg-info">
                            <th>نام دستگاه</th>
                          <th>تولید خوب</th>
                          <th>تولید متوسط</th>
                          <th>تولید ضعیف</th>
                          <th>انجام شده</th>
                          <th>کسر تولید</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for i in machines_with_amar %}
                        <tr>
                            <td>{{i.machine.assetName}}</td>
                          <td>{{i.good}}</td>
                          <td>{{i.mean}}</td>
                          <td>{{i.bad}}</td>
                            <td>{{i.real}}</td>
                            {% if i.kasre_tolid < 0 %}
                            <td class="bg-dark">{{i.kasre_tolid}}</td>
                            {% else %}
                              <td >{{i.kasre_tolid}}</td>

                            {% endif %}
                        </tr>
                        {% endfor %}

                        <tfoot>
                        <tr>
                          <th>نام دستگاه</th>
                        <th>تولید خوب</th>
                        <th>تولید متوسط</th>
                        <th>تولید ضعیف</th>
                        <th>انجام شده</th>
                        <th>کسر تولید</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>



    </div>
</div>

{% endblock %}
