{% extends 'mrp/blank-page.html' %}

{% block content %}
<div class="row app-block">

                <div class="col-md-12 app-content">
                    <div></div>
                    <div class="app-action">
                        <div class="action-left">
                            <div class="custom-control custom-checkbox mr-3">
                                <input type="checkbox" class="custom-control-input" id="customCheckAll">
                                <label class="custom-control-label" for="customCheckAll"></label>
                            </div>
                            <ul class="list-inline">
                              <li class="list-inline-item mb-0">
                                <button type="button" name="button" class="btn btn-outline-light" id="save_production">ذخیره</button>
                              </li>
                              <li class="list-inline-item mb-0">
                                <button type="button" name="button" class="btn btn-outline-light" id="new_amar">جدید</button>
                              </li>
                                <li class="list-inline-item mb-0">
                                    <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                                      عملیات
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item add-zayeat" href="#" data-url="{%url 'zayeatVazn_create' %}">ورود ضایعات</a>
                                        <a class="dropdown-item delete-info" href="#" data-url="{%url 'delete_amar_info' %}">حذف</a>
                                        

                                    </div>
                                </li>

                                <li class="list-inline-item mb-0">
                                    <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
چینش                                     </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">تاریخ</a>
                                        <a class="dropdown-item" href="#">از</a>
                                        <a class="dropdown-item" href="#">موضوغ</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">اندازه</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="action-right">
                            <form class="d-flex mr-3">
                                <a href="#" class="app-sidebar-menu-button btn btn-outline-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu width-15 height-15"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                                </a>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="جستجو ایمیل" aria-describedby="button-addon1" id="search" >
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-light" type="button" id="button-addon1" data-url="{% url 'list_amar_daily_info' %}">
                                            <i class="ti-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="card card-body app-content-body">

                        <div class="card-body">
                          <h5 class="card-title">آمار روزانه</h5>
                          <div class="row" id="tblrows">
                            <!-- Column 1 -->
                            {% for i in shifts %}

                              {% if forloop.counter == 1 %}
                            <div class="col-md-4">

                              <h3>{{i.name}}</h3>
                              <div class="table-responsive">
                                <table class="table table-bordered table-striped company-table" id="tbl1">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th>نام ماشین</th>
                                      <th>نمره</th>
                                      <th> کنتور</th>
                                      <th>تولید</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for c in machines %}
                                    <tr data-machine={{c.machine.id}} data-shift="{{i.id}}" data-speed="{{c.speed}}">
                                      <td>{{c.machine.assetName}}</td>
                                      <td contenteditable="true" class="editable-cell btc nomre selectable1">{{c.nomre}}</td>
                                      <td contenteditable="true" class="editable-cell btc counter selectable1"></td>

                                      <td contenteditable="true" data-formula="{{c.formula}}" class='production'></td>

                                    </tr>
                                    {% endfor %}
                                    <!-- Add more rows as needed -->
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            {% else %}
                            <div class="col-md-3">

                              <h3>{{i.name}}</h3>
                              <div class="table-responsive">
                                <table class="table table-bordered table-striped company-table" id="tbl{{forloop.counter}}">
                                  <thead class="thead-dark">
                                    <tr>

                                      <th>شماره کنتور</th>
                                      <th>تولید</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for c in machines %}
                                    <tr data-machine={{c.machine.id}} data-shift="{{i.id}}" data-speed="{{c.speed}}">

                                      <td contenteditable="true" class="editable-cell btc counter selectable1" data-nomre={{c.nomre}}></td>

                                      <td contenteditable="true" data-formula="{{c.formula}}" class='production'></td>

                                    </tr>
                                    {% endfor %}
                                    <!-- Add more rows as needed -->
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="col-md-2">

                             <h3 >تولید 100</h3>

                              <div class="table-responsive">
                                <table class="table table-bordered table-striped company-table" >
                                  <thead class="thead-dark">
                                    <tr>

                                      <th>سرعت</th>
                                      <th>100%</th>


                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for c in machines %}

                                      <td contenteditable="true" class="editable-cell editable-cell2 speed selectable1" data-nomre={{c.nomre}}>{{c.speed}}</td>
                                      <td contenteditable="true" class="editable-cell3 production selectable1" data-formula="{{c.speedformula}}">{{c.max}}</td>


                                    </tr>
                                    {% endfor %}
                                    <!-- Add more rows as needed -->
                                  </tbody>
                                </table>
                              </div>
                            </div>



                          </div>

                        </div>
                        <div class="modal fade" id="modal-company">
                         <div class="modal-dialog  modal-lg ">

                           <div class="modal-content ">
                           </div>
                         </div>
                        </div>
                      </div>
                        <!-- end::app-lists -->

                        <!-- begin:app-detail -->


            </div>


          </div>


{% endblock %}
{% load static %}

{% block javascript %}


 <script src="{% static 'project/tolid.js' %}"></script>
{% endblock %}
