
  {% for cat_item in cat_list %}

  <div class="tab-pane fade {% if forloop.counter == 1 %}active show {% endif %}"
  id="sub{{cat_item.id}}" role="tabpanel" aria-labelledby="sub{{cat_item.id}}">
  <div class="row tblrows">
        
    

   
    <div class="col-md-12">

      
      <div class="table-responsive">
        <table class="table table-bordered table-striped company-table" >
          <thead class="thead-dark">
            <tr>
              <th>نام ماشین</th>
              <th>واحد</th>
               <th>نام اپراتور</th>
               <th>کد نخ</th>



              <th>نمره</th>
              <th>سرعت</th>

              <th> کنتور ابتدای شیفت</th>
              <th> کنتور انتهای شیفت</th>
              <th>100%</th>
              <th>تولید</th>

            </tr>
          </thead>
          <tbody>
          
            {% for c in machines %}
            
            
            {% if c.machine.assetCategory.id == cat_item.id %}
            <tr data-machine={{c.machine.id}} data-shift="{{i.id}}" data-speed2="{{c.speed}}">
              <td>{{c.machine.assetName}}</td>
              <td contenteditable="true" class="editable-cell btc vahed selectable1 " data-vahed="{{c.machine.assetVahed}}">{{c.amar.vahed}}</td>
                <!-- سلول جدید برای نام اپراتور -->
                <td>
                  <select class="form-control operator-name" 
                  data-machine-id="{{c.machine.id}}"
                  multiple="multiple"
                  style="width: 100%;">
                  {% for i in c.operators %}
                    <option value="{{i.id}}" selected>{{i.name}}</option>
                  {% endfor %}
                  
                  </select>
                  <!-- Single hidden field to store all operator data as JSON -->
                  <input type="hidden" class="operator-data" name="operator_data" value="{{c.amar.operators_data}}">
              </td>
              <td>
                <select class="form-control nakh-name" 
                data-machine-id="{{c.machine.id}}"
                
                style="width: 100%;">
                </select>
                <!-- Single hidden field to store all operator data as JSON -->
                <input type="hidden" class="nakh-data" name="nakh_data" ">
            </td>

              <td contenteditable="true" class="editable-cell btc nomre selectable1">{{c.amar.nomre}}</td>
              <td contenteditable="true" class=" editable-cell2 btc speed selectable1" data-nomre={{c.amar.nomre}}>{{c.amar.speed}}</td>


              <td contenteditable="true" class="editable-cell btc counter1 selectable1">{{c.amar.counter1}}</td>
              <td contenteditable="true" class="editable-cell btc counter2 selectable1">{{c.amar.counter2}}</td>
              <td contenteditable="true" class="editable-cell3 production_full selectable1" data-maxformula="{{c.speedformula}}" data-vahed="{{c.machine.assetVahed}}" >{{c.amar.eval_max_tolid}}</td>


              <td contenteditable="true" data-formula="{{c.formula}}" class='production'>{{c.amar.production_value}}</td>

            </tr>
            {% endif %}
            {% endfor %}
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>
    </div>

   



  </div>




      




  </div>
  {% endfor %}
 

