{% load humanize %}

{% for profile in profiles %}
  <tr>
    <td>{{ profile.description }}</td>
    <td>{{ profile.get_jalali_time_created }}</td>
    <td>{{profile.mablagh_kol_randeman|intcomma}}</td>
    <td>{{profile.tolid_randeman_mazrab_3|intcomma}}</td>
    <td>{{profile.tolid_randeman|intcomma}}</td>
    
    <td>
      <a target="_blank" class="btn btn-outline-light js-padash_tolid-profile" href="{% url 'list_tolid_padash_v2' %}?profile={{profile.id}}">  <i class="ti-crown"></i></a>
      <a target="_blank" class="btn btn-outline-light js-padash_tolid-profile" href="{% url 'list_tolid_padash' %}?profile={{profile.id}}">  <i class="ti-crown"></i></a>
      <a target="_blank" class="btn btn-outline-light js-nezafat_tolid-profile" href="{% url 'list_nezafat_padash'%}?profile={{profile.id}}">  <i class="ti-brush-alt"></i></a>
      <a target="_blank" class="btn btn-outline-light js-nezafat_v2_tolid-profile" href="{% url 'list_nezafat_padash_v2'%}?profile={{profile.id}}">  <i class="ti-brush-alt"></i></a>
      <a target="_blank" class="btn btn-outline-light js-init-profile" href="{% url 'get_init_asset_randeman'%}?profile={{profile.id}}">  <i class="ti-settings"></i></a>
      <button type="button" class="btn btn-outline-light js-update-profile" data-url="{% url 'profile_update' profile.id %}" >  <i class="ti-eye"></i></button>

      <button type="button" class="btn btn-outline-light js-delete-profile" data-url="{% url 'profile_delete' profile.id %}">  <i class="ti-close"></i></button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-success">اطلاعاتی یافت نشد!</td>
  </tr>
{% endfor %}