<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>دیانا - سیستم مدیریت تولید سرو رایان</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/media/image/favicon.png' %}"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="{% static 'vendors/bundle.css' %}" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}" type="text/css">
</head>
<body class="error-page bg-white">

<div>
    <h4 class="mb-0 text-muted font-weight-normal">اوه نه! صفحه موردنظر شما پیدا نشد!</h4>
    <div>
        <span class="error-page-item font-weight-bold">4</span>
        <span class="error-page-item font-weight-bold">0</span>
        <span class="error-page-item font-weight-bold">4</span>
    </div>
    <a href="#" class="btn btn-outline-light btn-lg">برگشت به خانه</a>
</div>

<!-- Plugin scripts -->
<script src="{% static 'vendors/bundle.js' %}"></script>

<!-- App scripts -->
<script src="{% static 'assets/js/app.min.js' %}"></script>
</body>

</html>