<form method="post" action="{% url 'update_morder' form.instance.id  %}" class="js-morder-update-form" autocomplete="off">
 
    <div class="modal-header bg-primary" >
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">جدید</h4>
    </div>
    <div class="modal-body">
     {% include 'mrp/manufactureorder/partialMOForm2.html' %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
     
      <button type="submit" class="btn btn-primary" >بروزرسانی</button>
      
    </div>
  </form>
