<form method="post" action="{% url 'create_morder'   %}" class="js-morder-create-form" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header " >
        <h5 class="modal-title" id="newOrderModalLabel">Create New Manufacturing Order</h5>
        <button type="button" class="forecast-btn mr-2" id="forecastBtn" title="View Forecast" disabled>
            <i class="fas fa-chart-line"></i>
        </button>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
     {% include 'mrp/manufactureorder/partialMOrderForm.html' %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
      
      <button type="submit" class="btn btn-primary" >ذخیره</button>
     
    </div>
  </form>

