{% extends 'mrp/temp2.html' %}
{% load custom_filters %}
{% load static %}
{% block stylesheet %}
     <!-- Select2 -->
     <link rel="stylesheet" href="{% static 'vendors/select2/css/select2.min.css' %}" type="text/css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tributejs@5.1.3/dist/tribute.css">
   
     

{% endblock %}
{% block content %}


<div class="container-fluid h-100">

    <div class="row app-block">
        <div class="col-md-3 app-sidebar">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#viewMailModal">
                        ارسال ایمیل
                    </button>
                </div>
                <div class="app-sidebar-menu">
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item active d-flex align-items-center">
                            <i data-feather="mail" class="mr-2 width-15 height-15"></i>
                            صندوق ورودی
                            <span class="small ml-auto">14</span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i data-feather="send" class="mr-2 width-15 height-15"></i>
                            ارسال شده
                        </a>
                        <a href="#" class="list-group-item">
                            <i data-feather="edit-3" class="mr-2 width-15 height-15"></i>
                            ذخیره
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <i data-feather="star" class="mr-2 width-15 height-15"></i>
                            شروع شده
                            <span class="small ml-auto">10</span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i data-feather="info" class="mr-2 width-15 height-15"></i>
                            اسپم
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <i data-feather="trash" class="mr-2 width-15 height-15"></i>
                           سطل آشغال 
                            <span class="small ml-auto">2</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="mb-0">برچسب‌ها</h6>
                    </div>
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-warning fa fa-circle mr-2"></span>
                            پشتیبانی
                            <span class="small ml-auto">5</span>
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-success fa fa-circle mr-2"></span>
                          آزاد
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-danger fa fa-circle mr-2"></span>
                            اجتماعی
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-info fa fa-circle mr-2"></span>
                            دوستان
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-secondary fa fa-circle mr-2"></span>
                            کدزدن
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 app-content">
            <div class="app-content-overlay"></div>
            <div class="app-action">
                <div class="action-left">
                    <div class="custom-control custom-checkbox mr-3">
                        <input type="checkbox" class="custom-control-input" id="customCheckAll">
                        <label class="custom-control-label" for="customCheckAll"></label>
                    </div>
                    <ul class="list-inline">
                        <li class="list-inline-item mb-0">
                            <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                                انتخاب بر اساس
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">خوانده شده</a>
                                <a class="dropdown-item" href="#">خوانده نشده</a>
                                <a class="dropdown-item" href="#">اسپم</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#">حذف</a>
                            </div>
                        </li>
                        <li class="list-inline-item mb-0">
                            <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
چینش                                     </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">تاریخ</a>
                                <a class="dropdown-item" href="#">از</a>
                                <a class="dropdown-item" href="#">موضوغ</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">اندازه</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="action-right">
                    <form class="d-flex mr-3">
                        <a href="#" class="app-sidebar-menu-button btn btn-outline-light">
                            <i data-feather="menu" class="width-15 height-15"></i>
                        </a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="جستجو ایمیل"
                                   aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button class="btn btn-outline-light" type="button" id="button-addon1">
                                    <i class="ti-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="app-pager d-flex align-items-center">
                        <div class="mr-3">1-50 از 253</div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <i data-feather="chevron-left" class="width-15 height-15"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <i data-feather="chevron-right" class="width-15 height-15"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
           {% include 'automation/mail/partialMailList.html' %}
        </div>
    </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="compose">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ارسال ایمیل به</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between m-b-20">
                    <div>
                        <a href="#" data-toggle="tooltip" title=""
                           class="btn btn-outline-light btn-sm mr-2"
                           data-original-title="ذخیره">
                            <i data-feather="save"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" title=""
                           class="btn btn-outline-light btn-sm mr-2"
                           data-original-title="حذف">
                            <i data-feather="trash-2"></i>
                        </a>
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control tagsinput" placeholder="به"
                               value="example@test.com.tr" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="موضوع" required>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" multiple id="customFileLangHTML">
                            <label class="custom-file-label" for="customFileLangHTML" data-browse="انتخاب فایل">لورم ایپسوم</label>
                        </div>
                    </div>
                    <div>
                        <div class="compose-quill-editor mb-3"></div>
                        <div class="d-flex justify-content-between">
                            <div class="compose-quill-toolbar">
                            <span class="ql-formats mr-0">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                            </span>
                            </div>
                            <button class="btn btn-primary">
                                <i data-feather="send" class="mr-2"></i>
                                ارسال
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewMailModal" tabindex="-1" aria-labelledby="viewMailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewMailModalLabel"><i class="fas fa-file-alt ms-2"></i>مشاهده نامه</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="بستن"></button>
            </div>
            <div class="modal-body">
                <div class="mail-detail">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <strong>شماره نامه:</strong> <span id="view-mail-number"></span>
                        </div>
                        <div class="col-md-6">
                            <strong>تاریخ:</strong> <span id="view-mail-date"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <strong>از واحد:</strong> <span id="view-mail-from"></span>
                        </div>
                        <div class="col-md-6">
                            <strong>به واحد:</strong> <span id="view-mail-to"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <strong>عنوان:</strong> <span id="view-mail-title"></span>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <strong>متن نامه:</strong>
                        <p class="mt-2" id="view-mail-content"></p>
                    </div>

                    <!-- Word Document Preview -->
                    <div id="word-preview-container" style="display: none;">
                        <hr>
                        <h6 class="mb-3"><i class="fas fa-file-word ms-2"></i>پیش‌نمایش فایل ورد پیوست</h6>
                        <div class="word-preview" id="wordPreview">
                            <!-- Word document content will be displayed here -->
                        </div>
                    </div>

                    <!-- Signed Document Preview -->
                    <div id="signed-document-container" style="display: none;">
                        <hr>
                        <h6 class="mb-3"><i class="fas fa-file-signature ms-2"></i>فایل ورد امضا شده</h6>
                        <div class="signed-document" id="signedDocumentPreview">
                            <!-- Signed document will be displayed here -->
                        </div>
                        <button class="btn btn-primary download-btn" id="downloadSignedDoc">
                            <i class="fas fa-download ms-2"></i>دانلود فایل امضا شده
                        </button>
                    </div>

                    <hr>
                    <h6 class="mb-3"><i class="fas fa-history ms-2"></i>تاریخچه ارجاعات</h6>
                    <div id="referralHistoryContainer">
                        <!-- Referral history will be loaded here -->
                    </div>

                    <hr>
                    <h6 class="mb-3"><i class="fas fa-signature ms-2"></i>امضاها</h6>
                    <div class="row" id="signaturesContainer">
                        <!-- Signatures will be loaded here -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                <button type="button" class="btn btn-warning refer-mail" id="view-refer-btn">
                    <i class="fas fa-share ms-2"></i>ارجاع
                </button>
                <button type="button" class="btn btn-success sign-mail" id="view-sign-btn">
                    <i class="fas fa-signature ms-2"></i>امضا
                </button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascript %}
  <!-- Plugin scripts -->
  <script src="{% static 'vendors/select2/js/select2.min.js' %}"></script>
  <!-- <script src="{% static 'assets/js/examples/select2.js' %}"></script>
  <script>
    $('.select2-example').select2({
        placeholder: 'اشخاص',
        
    });
    $('input[name="start"]').pDatepicker({
        format: 'YYYY-MM-DD',
                autoClose: true,
                initialValueType: 'gregorian',
                calendar:{
            persian: {
                leapYearMode: 'astronomical'
            }
        },
      });
    $('input[name="end"]').pDatepicker({
        format: 'YYYY-MM-DD',
                autoClose: true,
                initialValueType: 'gregorian',
                calendar:{
            persian: {
                leapYearMode: 'astronomical'
            }
        },
      });
  </script> -->
  



<!-- Tagsinput -->
<script src="{% static 'vendors/tagsinput/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'assets/js/examples/tagsinput.js' %}"></script>

<!-- quill -->
<script src="{% static 'vendors/quill/quill.js' %}"></script>

<!-- App scripts -->

<script>
    new Quill('.compose-quill-editor', {
        modules: {
            toolbar: ".compose-quill-toolbar"
        },
        placeholder: "اینجا بنویسید...",
        theme: "snow"
    });

    new Quill('.reply-email-quill-editor', {
        modules: {
            toolbar: ".reply-email-quill-toolbar"
        },
        placeholder: "اینجا بنویسید...",
        theme: "snow"
    });

    $(function () {
        $(document).on('click', '.app-block .app-content .app-action .action-left input[type="checkbox"]', function () {
            $('.app-lists ul li input[type="checkbox"]').prop('checked', $(this).prop('checked'));
            if ($(this).prop('checked')) {
                $('.app-lists ul li input[type="checkbox"]').closest('li').addClass('active');
            } else {
                $('.app-lists ul li input[type="checkbox"]').closest('li').removeClass('active');
            }
        });

        $(document).on('click', '.app-lists ul li input[type="checkbox"]', function () {
            if ($(this).prop('checked')) {
                $(this).closest('li').addClass('active');
            } else {
                $(this).closest('li').removeClass('active');
            }
        });

        $(document).on('click', '.app-block .app-content .app-content-body .app-lists ul.list-group li.list-group-item', function (e) {
            if (!$(e.target).is('.custom-control, .custom-control *, a, a *')) {
                $('.app-detail').addClass('show').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function () {
                    $('.app-block .app-content .app-content-body .app-detail .app-detail-article').niceScroll().resize();
                });
            }
        });

        $(document).on('click', 'a.app-detail-close-button', function () {
            $('.app-detail').removeClass('show');
            return false;
        });

        $(document).on('click', '.app-sidebar-menu-button', function () {
            $('.app-block .app-sidebar, .app-content-overlay').addClass('show');
            // $('.app-block .app-sidebar .app-sidebar-menu').niceScroll().resize();
            return false;
        });

        $(document).on('click', '.app-content-overlay', function () {
            $('.app-block .app-sidebar, .app-content-overlay').removeClass('show');
            return false;
        });
    });
</script>


{% endblock %}
