<form method="post" action="{% url 'minimorder_create' %}" class="js-minimorder-create-form" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header bg-primary">
      <h5 class="modal-title">جدید</h5>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      {% include 'mrp/minimorder/partialMinimorderForm.html' %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
      
      <button type="submit" class="btn btn-primary">ایجاد</button>
      
    </div>
</form>