{% load widget_tweaks %}

<input type="hidden" id="product-id">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label>{{form.name.label}}</label>

            {% render_field form.name  class='form-control' %}
        </div>
        <div class="col-md-6 mb-3">
            <label>{{form.code.label}}</label>

            {% render_field form.code  class='form-control' %}
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label>{{form.product_type.label}}</label>

            {% render_field form.product_type  class='form-control' %}
        </div>
        <div class="col-md-6 mb-3">
            <label>{{form.unit_of_measure.label}}</label>

            {% render_field form.unit_of_measure  class='form-control' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label>{{form.cost_price.label}}</label>

            <div class="input-group">
                <span class="input-group-text">$</span>
            {% render_field form.cost_price  class='form-control' %}

            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label>{{form.sale_price.label}}</label>

            <div class="input-group">
                <span class="input-group-text">$</span>
            {% render_field form.sale_price  class='form-control' %}

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label>{{form.available_quantity.label}}</label>

            {% render_field form.available_quantity  class='form-control' %}
        </div>
    </div>