{% load widget_tweaks %}

<form id="component-form">
    {{ form.bom.as_hidden }}
    <div class="mb-3">
        
        <label>{{form.product.label}}</label>
        {% render_field form.product  class='form-control select2' %}
    </div>
    <div class="mb-3">
        
        <label>{{form.quantity.label}}</label>
        {% render_field form.quantity  class='form-control ' %}
    </div>
    <div class="mb-3">
      
        <label>{{form.uom.label}}</label>
        {% render_field form.uom  class='form-control select2' %}
    </div>
</form>